<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
  </head>

  <body>

    <h1>Users</h1>

    <table border="1">
      {% for x in myusers %}
      <tr>
        <td>{{ x.id }}</td>
        <td>{{ x.firstname }}</td>
        <td>{{ x.lastname }}</td>
        <td><a href="delete/{{ x.id }}">delete</a></td>
      </tr>
      {% endfor %}
    </table>

    <p>
      <a href="add/">Add user</a>
    </p>

  </body>

</html>