<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update</title>
</head>
<body>

  <h1>Update User</h1>

  <form action="updaterecord/{{ myuser.id }}" method="post">
    {% csrf_token %}
    First Name:<br>
    <input name="first" value="{{ myuser.firstname }}">
    <br><br>
    Last Name:<br>
    <input name="last" value="{{ myuser.lastname }}">
    <br><br>
    <input type="submit" value="Submit">
    </form>
  
</body>
</html>